@{
	ViewData["Title"] = "About Us";
}

<h1>Solutions2Share Tickets</h1>
<p class="lead">Welcome to Solutions2Share Ticket Management</p>
<a href="https://twitter.com/Nicknet1c" class="btn btn-lg btn-dark fw-bold border-white bg-black">Contact us for more info</a>
